<div class="col-md-3 d-none d-lg-block">
  <div class="card box-shadow">
    <h4 class="card-header text-center">Microservices with Docker, Flask, and React</h4>
    <div class="card-body text-dark">
      <p class="card-text">Get the full course. Learn how to build, test, and deploy microservices powered by Docker, Flask, and React!</p>
      <div class="text-center">
        <a class="btn btn-success btn-lg" href="https://gum.co/flask">Purchase Now!</a>
        <p><a href="{{ site.url }}/part-one-intro">Or, preview parts 1 through 3</a></p>
      </div>
    </div>
  </div>
</div>
