<br>
<div class="blog-toc-container">
  <h4 class="card-header text-center">Table of Contents</h4>
  <div class="card box-shadow blog-toc-subcontainer">
    <ul class="blog-toc card-body" id="blog-toc" />
  </div>
</div>
<script>
  const headerList = document.getElementsByTagName('h2');
  let tocContainer = document.getElementById('blog-toc');
  for (el in headerList) {
    if (headerList[el].innerHTML) {
      // added to anchor target to push target below navbar
      headerList[el].setAttribute('style', 'padding-top: 60px; margin-top: -60px;')
      // create li
      let listElement = document.createElement('li');
      // add class to li
      listElement.className = 'toc-item';
      // create anchor
      let anchorElement = document.createElement('a');
      // set text and href values
      anchorElement.innerText = headerList[el].innerHTML;
      anchorElement.href = "#" + headerList[el].id;
      // append anchor to li, append li to ul
      listElement.appendChild(anchorElement);
      tocContainer.appendChild(listElement)
    }
  }  
</script>