 <footer class="page-footer white">
  <div class="container footer-container center-align">
    <ul>
      <li>
        <span>&copy; Copyright 2018</span>
        <a href="http://testdriven.io">TestDriven.io</a>
      </li>
      <li>
        <br>
        <a
          class="twitter-follow-button"
          href="https://twitter.com/testdrivenio"
          data-show-count="false">
          Follow @testdrivenio
        </a>
      </li>
      <li>
        <small>
          <span>Developed by </span>
          <a href="http://mherman.org/">Michael Herman</a>
        </small>
      </li>
      <li>
        <small>
          <span>Questions? </span>
          <a href="mailto:michael@mherman.org">michael@mherman.org</a>
        </small>
      </li>
    </ul>
  </div>
</footer>
