<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <!-- og -->
  {% if page.image %}
    <meta property="og:image" content="{{site.url}}{{page.image}}" />
  {% endif %}
  <!-- description -->
  {% if page.description %}
    <meta name="description" property="og:description" content="{{page.description}}">
  {% endif %}
  <!-- keywords -->
  {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}">
  {% endif %}
  <!-- title -->
  {% if page.type == 'blog' %}
    <title>{{page.title}} - {{site.short-title}}</title>
    <meta property="og:title" content="{{page.title}}" />
  {% elsif page.type == 'course' %}
    <title>Microservices with Docker, Flask, and React - {{page.title}}</title>
    <meta property="og:title" content="Microservices with Docker, Flask, and React - {{page.title}}" />
  {% elsif page.type == 'main' %}
    <title>{{site.title}} - {{site.short-title}}</title>
    <meta property="og:title" content="{{site.title}} - {{site.short-title}}" />
  {% else %}
    <title>{{site.title}}</title>
    <meta property="og:title" content="{{site.title}}" />
  {% endif %}
  <!-- styles -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css">
  <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <link href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
</head>
