<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <!-- title -->
  {% if page.type == 'blog' %}
    <title>{{page.title}} - {{site.short-title}}</title>
  {% else %}
    {% if page.title != 'Microservices with Docker, Flask, and React' %}
      <title>Microservices with Docker, Flask, and React - {{ page.title }}</title>
    {% else %}
      <title>{{site.title}}</title>
    {% endif %}
  {% endif %}
  <!-- styles -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap.min.css">
  <link href="//use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <link href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
</head>
