<hr>

<div class="row">

  <div class="col-sm-12">

    <p><strong>Join our mailing list to be notified about course updates and new tutorials.</strong></p>

    <form class="validate" action="//testdriven.us17.list-manage.com/subscribe/post?u=bea5ac664532063fe8aa8d6a2&amp;id=eddaf58c2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="form-group">
        <input placeholder="Enter your email..." type="email" name="EMAIL" class="form-control col-sm-4">
      </div>
      <div>
        &nbsp;<button class="btn btn-success" type="submit" name="action">Submit</button>
      </div>
    </form>

  </div>

</div>
