---
layout: post
title: Course Contents
permalink: course-contents/
---

<h3></h3>
<hr><br>


{% for post in site.posts reversed %}
  {% if post.intro %}
    <h5>Part {{post.part}}</h5>
    <p>{{ post.content | strip_html | truncatewords:30}}</p>
  {% endif %}
    <ul class="lessons-list">
      <li class="collection-li-contents">
        <span>{{ post.lesson }}.&nbsp;</span>
        <span>
          <a
            class="collection-item"
            href="{{ site.url }}{{ post.url }}"
          >{{ post.title }}</a>
        </span>
      </li>
    </ul>
{% endfor %}
