---
layout: post
title: Microservices with Docker and Flask
---

<h3></h3>
<hr><br>


{% for post in site.posts reversed %}
  {% if post.part %}
    <h5>Part {{post.part}}</h5>
    <p>{{ post.content | strip_html | truncatewords:30}}</p>
  {% endif %}
    <ul class="lessons-list">
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </ul>
{% endfor %}

<br><br><hr><br>

This tutorial is powered by <em><a href="https://realpython.com">Real Python</a></em>. Please support this open source project by purchasing our <a href="http://www.realpython.com/courses">courses</a> to learn Python and web development with Django and Flask!</p>

<a href="https://realpython.com"><img src="//raw.githubusercontent.com/realpython/about/master/rp_small.png" alt="real python logo"></a>
