<div class="col m3 hide-on-small-and-down">
  <br>
  <div id="toc-block" class="collection hide-on-small-and-down">
    <ul class="collapsible collapsible-accordion">
      {% for post in site.posts reversed %}
        {% if post.intro %}
          <li>
            <h5 data-part="{{post.part}}" class="collapsible-header  waves-effect waves-teal">
              Part {{post.part}}
            </h5>
            <div class="collapsible-body">
        {% endif %}
        <ul>
          <li>
            {% if post.intro %}
              <a
                class="collection-item"
                href="{{ site.baseurl }}{{ post.url }}"
              >Introduction</a>
            {% else %}
              <a
                class="collection-item"
                href="{{ site.baseurl }}{{ post.url }}"
              >{{ post.title }}</a>
            {% endif %}
          </li>
        </ul>
      {% endfor %}
    </div>
  </li>
    </ul>
  </div>
</div>
