<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <br>

    <div class="container">
      <div class="row">

        <div class="col-lg-9">

          {% if page.image %}
            <div class="text-center" style="padding-bottom:20px;">
              <img src="{{page.image}}" style="max-width:100%" alt="{{page.image_alt}}">
            </div>
          {% endif %}

          <h1>{{ page.title }}</h1>

          {% if page.author %}
            <p>Posted by <a href="{{site.url}}/authors/{{page.lastname}}">{{page.author}}</a></span> on <span class="badge badge-secondary">{{ page.date | date: "%b %-d, %Y" }}</span><br>{% include share.html %}</p>
          {% endif %}

          {{ content }}

          {% include share.html %}

        </div>

        {% include blog-side.html %}

      </div>

      {% include mail.html %}

    </div>

    {% include footer.html %}

    {% include scripts.html %}

    {% include analytics.html %}

  </body>
</html>
