---
layout: blog
title: Blog
permalink: blog/
---

<hr><br>

<div class="blog-list">
  {% for post in site.posts %}
    <ul>
      {% if post.type == 'blog' %}
        <li>
          <h4><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h4>
          <p>Posted by <span class="badge badge-secondary">{{post.author}}</span> on <span class="badge badge-secondary">{{post.date | date: "%b %-d, %Y"}}</span></p>
          <p>{{post.blurb|strip_html}}</p>
          <p><a class="btn btn-outline-success btn-sm" href="{{site.url}}{{post.url}}">Read Article</a></p>
        </li>
        <br>
      {% endif %}
    </ul>
  {% endfor %}
</div>
